.profile-container {
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.profile-wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 3fr);
    gap: 3rem;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    background-color: var(--color-bg-variant);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    width: 312px;
    height: 680px;
}

.profile-image-container {
    border-radius: 10px;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: var(--color-primary);
    color: var(--color-black);
}

#role-text {
    font-size: .8rem;
    color: var(--color-bg2-variant);
}

.user-info  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
}

.user-info-container {
    margin-left: 1rem;
}

.profile-logout {
    margin: 4rem auto 1rem auto ;
    width: 80%;
    text-align: center;
}

.profile-full {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 650px;
}



.form-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.form-control-label {
    font-size: .9rem;
}

.form-control {
    height: 2rem;
    padding: .5rem;
    border-radius: .5rem;
    width: 100%;
    font-size: .9rem;
    background-color: var(--color-bg-variant);
}

.form-control-textarea {
    height: 5rem;
    padding: .5rem;
    border-radius: .5rem;
    width: 100%;
    font-size: .9rem;
    background-color: var(--color-bg-variant);
}  

.btn-container{
    display: block;
    position: relative;
}

.btn-container button {
    position: absolute;
    right: 1rem;}



@media screen and (max-width: 1100px) {
    .profile-container {
        height: auto; 
    }
    
    .profile-wrapper {
        grid-template-columns: 1fr ;
        gap: 10rem;
    }

    .profile-header {
        width: 312px;
        margin: 0 auto;
        margin-top: 5rem;
    }
}

@media screen and (max-width: 650px) {  
    .profile-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {  
    .profile-full {
        padding: 10px;
        margin-top: 2rem;
    }
}

.pending-editors {
    margin: 0 auto;
    text-align: center;
}

.pending-editors h3 {
    margin-bottom: 2rem;
}

.pending-editors-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.pending-editor {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    gap: 1rem;
}

.editor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.editor-info p {
    word-spacing: .1rem;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.privileges {
    background-color: var(--color-bg-variant);
    margin: 5rem 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.privileges li {
    margin: 1rem;
}


.navbar_select {
    padding: 10px;
    border: 1px solid var(--color-black);
    border-radius: .5rem;
    margin-right: 1rem;
}

@media screen and (max-width: 500px) {
    .pending-editor {
        grid-template-columns: 1fr;
        width: 90%;
    }
}


/***dark-theme***/
body.dark-theme .profile_details, body.dark-theme .privileges {
    background-color: var(--color-bg2-variant);
}

body.dark-theme #role-text {
    color: var(--color-bg-variant);
}
body.dark-theme .profile-header {
    background-color: var(--color-bg2-variant);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.9);
}

body.dark-theme .form-control, body.dark-theme .form-control-textarea {
    background: var(--color-bg2-variant);
    color: var(--color-white);
}

body.dark-theme .pending-editor {
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.9);
}
