.toggle-switch {
  position: fixed;
  display: inline-block;
  top: 80px;
  height: 2.1rem;
  width: 2.1rem;
  right: 10px;
  z-index: 111;
  cursor: pointer;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-bg2);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-slider.light-mode {
  background-color: var(--color-white);
}

.toggle-slider.dark-mode {
  background-color: var(--color-bg2);
}

.dark-icon,
.light-icon {
  font-size: 1.5rem;
}

.dark-icon {
  color: var(--color-white);
}

.light-icon {
  color: var(--color-bg2);
}

body.dark-theme {
    background-color: var(--color-bg2);
    color: var(--color-white);
}

body.dark-theme a {
    color: var(--color-white);
}

body.dark-theme span {
  color: var(--color-white);
}

body.dark-theme a:hover {
  color: var(--color-light);
}

body.dark-theme span:hover {
    color: var(--color-light);
}

body.dark-theme .mobile__menu button {
    color: var(--color-white);
}

body.dark-theme .window-scroll {
    background: var(--color-bg2-variant);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.5);
}


