header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    height: 4rem;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-black);
    cursor: default;
}

.logo_span {
    background-color: var(--color-special);
    padding: 0 .3rem;
    color: var(--color-black) !important;
    border-radius: .6rem;
    font-size: 1.3rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

.navbar a {
    color: var(--color-black); 
    transition: var(--transition);
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: none; 
    color: var(--color-grey);
}

.profile_picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem !important;
    height: 2.5rem !important;
    border-radius: 50% !important;
}

.mobile__menu {
    display: none;
}

/********************change navbar style on scroll*****************/
.window-scroll {
    background: var(--color-bg-variant);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}
body.dark-theme .window-scroll {
    background: var(--color-bg2-variant);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.9) !important; 
} 

@media screen and (max-width: 2000px) {
    header {
        font-size: .8rem;
        height: 3rem;
    }
}

/******************media queries (tablets) ****************/
@media screen and (max-width: 1200px) {
    .header.visible {
        background: var(--color-bg-variant);
        box-shadow:5px 5px 10px rgba(0, 0, 0, 0.9);
        transition: var(--transition);
    } 

    body.dark-theme  .header.visible {
        background: var(--color-bg2-variant);
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.9);
    }
    
    .header.hidden {
        transform: translateY(-4rem); 
        transition: var(--transition);
    }

    .logo {
        order: 2;
    }


    .mobile__menu {
        order: 1;
        display: flex; 
    }

    .profile {
        order: 3;
    }

    .mobile__menu button {
        font-size: 1.6rem;
        cursor: pointer;
        background: transparent;
        color: var(--color-black);   
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        position: fixed;
        top: 5rem;
        left: 5%;
        height: fit-content;
        flex-direction: column;
        width: 18rem; 
        gap: 10px;
    }

    .navbar__hidden {
        display: none;
    }

    .navbar a:nth-child(1) {
        --i:2
    }
    
    .navbar a:nth-child(2) {
        --i:3
    }
    
    .navbar a:nth-child(3) {
        --i:4
    }
    
    .navbar a:nth-child(4) {
        --i:5
    }
    
    .navbar a:nth-child(5) {
        --i:6
    }
    
    .navbar a:nth-child(6) {
        --i:7
    }
    
    .navbar a:nth-child(7) {
        --i:8
    }

    .navbar a:nth-child(8) {
        --i:9
    }

    .navbar * {
        background: var(--color-bg-variant);
        height: 4rem;
        width: 80%;
        display: grid;
        place-items: center;
        border-radius: .5rem;
        animation: animateNavItems 1s linear forwards;
        animation-delay: calc(.1s * var(--i));
        transform-origin: top left;
        opacity: 0;
    }

    @keyframes animateNavItems {
        from {
            transform: rotateZ(90deg) rotateX(90deg) scale(0.1)
        } 

        to {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    body.dark-theme .navbar a {
        background: var(--color-bg2-variant);
    }
    

}

@media screen and (max-width: 550px) {
    header {
        justify-content: space-between;
        padding:  0 1rem;
    }
}

