.philo_intro {
    position: relative;
    top: 0rem;
    text-align: center;
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.philosophy_content {
    position: absolute;
} 

.philo_title {
    display: inline-block;
    border-bottom: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 1rem .3rem 1rem;
    transition: var(--transition);
    margin-bottom: 2rem;
}

.philo_title h2 {
    font-weight: 400;
}

.philo_title:hover {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black); 
}

.philo-image img {
    width: 400px;
    height: 400px;
    display: inline;
    margin-top: 1rem;
    border-radius: 50%;
}

 .void2 {
    background-color: var(--color-bg2-variant );
    height: 1px;
    margin: 10rem 0 2rem;
} 

.philosophy_article_container {
    margin: 0rem 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/***in dark mode***/
body.dark-theme .philo_title {
    border-bottom: 1px solid var(--color-white);
    border-top: 1px solid var(--color-white);
}

body.dark-theme .philo_title:hover {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
}

@media screen and (max-width: 600px) {
    .philo-image img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 508px) {
    .notable_figures {
        margin-top: 8rem;
    } 
}

@media screen and (max-width: 440px) {
    .philosophy_article_container {
        margin: 0;
    }
}