.art_body_two_container {
    margin: 5rem 2rem;
    height: auto;
}
@media screen and (max-width: 750px) {
    .art_body_two_container {
        margin: 75rem 2rem;
    }
    
}

@media screen and (max-width: 750px) {
    .art_body_two_container {
        margin: 70rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 650px) {
    .art_body_two_container {
        margin: 55rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 550px) {
    .art_body_two_container {
        margin: 42rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 450px) {
    .art_body_two_container {
        margin: 34rem 1rem 0 1rem;
    }
}