.tech_trending_box, .special_tech_trending_box {
    width: 18rem;
    height: 24rem;
    display: grid;
    grid-template-rows: 1fr 1fr .2fr;
    border-radius: .6rem;
    margin-right: 2rem; 
}

.tech_trending_box {
    background: var(--color-bg-variant);
}

.special_tech_trending_box {
    background: var(--color-bg2-variant);
    color: var(--color-white);
}

.special_tech_trending_box a {
    color: var(--color-white);
}

.tech_trending_box_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.void3 {
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
}

.special_tech_trending_box .void3 {
    background-color: var(--color-white);
}

.tech_trending_box_content_container h4 {
    font-family: monumentgrotesk,sans-serif;
    padding: 1rem 1rem 1rem 0.5rem;
}

.tech_trending_box_content_container a {
    font-size: .8rem;
    padding: 1rem;
}

.special_tech_trending_box a:hover {
    color: var(--color-light);
}

.tech_trending_box_footer a {
    font-size: .7rem;
    padding: 2rem;
}

/***dark theme **/
body.dark-theme .tech_trending_box {
    background: var(--color-bg2-variant);
}

body.dark-theme  .special_tech_trending_box {
    background: var(--color-bg-variant);
    color: var(--color-black);
}

body.dark-theme  .special_tech_trending_box a {
    color: var(--color-black);
}

body.dark-theme  .special_tech_trending_box .void3 {
    background-color: var(--color-black);
}

body.dark-theme  .special_tech_trending_box a:hover {
    color: var(--color-grey);
}